/* styles.css */

/* Gaya umum untuk halaman */
body {
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control, .form-check-input {
    border-radius: 5px;
  }
  
  .btn-primary {
    display: block;
    margin: 20px auto 0 auto;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-secondary {
    display: block;
    margin: 20px auto 0 auto;
    background-color: #6c757d;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
  }
  